.body {
    min-height: calc(100vh - 50px);
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Roboto', sans-serif;
  }

  .outer-div
  {
       padding: 30px;
       text-align: center;
       border: solid #fff 2px;
       background-color: #fff
  }
  .inner-div
  {
       display: inline-block;
       padding: 50px;
  }